<div id="lower_toolbar" class="toolbar">
  <%= label_tag :filename, "Filename", :style => "display: inline-block" %>
  <%= text_field_tag :filename, @filename %>
  <%= label_tag :filetype, "Filetype", :style => "display: inline-block" %>
  <%= select_tag :filetype, options_for_select(["pdf", "ps", "rtf", "html", "dvi"], @filetype) %>

  <div class="btn-group" style="margin-bottom: 10px; float: right">
    <button type="submit" name="commit" class="btn" value="Download" title="Download tex file">
      <i class="icon-download-alt"> </i>
    </button>
    <button type="submit" name="commit" class="btn" value="Email" title="Compile and send by email">
      <i class="icon-envelope">  </i>
    </button>
    <%= submit_tag 'Generate', :class => "btn btn-primary" %>
  </div>
</div>