<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div id="welcome">
        Welcome to CandyT<sub>E</sub>X! <br/>
        Sweetest L<sup>A</sup>T<sub>E</sub>X editor on the Web!
      </div>
      <button id="authorization" class="btn btn-primary"> Connect with Google Drive!</button>
      <div id="list"> </div>
      <img alt="Loading..." id="spinner" src="../ajax-loader.gif"></img>
      <div id="drive-file"> </div>
    </div>
    <div class="span8">
      <%= render :partial => 'toolbar' %>
      <%= form_tag :controller => :home, :action => :print, :class => "form-horizontal"  do %>
        <%=  text_area_tag :input, @input, {style: "width: 100%"} %>
        <%= render :partial => 'lower_toolbar' %>
      <% end %>
    </div>
    <div class="offset2"/>
  </div>
</div>

<%= render :partial => 'help' %>

