<div class="container">
  <%= form_tag :controller => :home, :action => :print, :class => "form-horizontal"  do %>
    <div id="toolbar" class="toolbar">
      <%= select_tag :filetype, options_for_select(["pdf", "ps", "jpeg", "png", "dvi"], @filetype) %>
    </div>

    <%=  text_area_tag :input, @input, {"ace-editor" => "", "ace-mode" => "text", "ace-theme" => "github", style: "width: 100%; height: 700px;"} %>
    <div id="lower_toolbar" class="toolbar">
      <%= label_tag :filename, "Filename", :style => "display: inline-block" %>
      <%= text_field_tag :filename, @filename %>
      <%= submit_tag 'Generate', :class => "btn btn-primary", :style => "float: right" %>
    </div>

  <% end %>
</div>