<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <button id="authorization" class="btn btn-primary"> Connect with Google Drive </button>
      <div class="form-search">
        <div class="input-append">
          <input type="text" class="search-query" id="filter">
          <button class="btn"><i class="icon-search"></i></button>
        </div>
      </div>
      <div id="list"> </div>
    </div>
    <div class="span8">
      <%= render :partial => 'toolbar' %>
      <%= form_tag(:controller => :home, :action => :print) do %>
        <%= render :partial => 'mailer'%>
        <%= text_area_tag :input, @input, {style: "width: 100%"} %>
        <%= render :partial => 'lower_toolbar' %>
      <% end %>
    </div>
    <div class="span2">
      <div id="welcome">
        Welcome to CandyTeX <br/>
        Online LaTeX editor
      </div>
      <div id="drive-file"> </div>
      <img alt="Loading..." id="spinner" src="/ajax-loader.gif"> </img>
      <button id="show-log" href="#log" class="btn  btn-primary" data-toggle="modal"> Show log </button>
      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" 
              codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0"
              id="mikuclock" align="middle" style="display: none">
        <param name="allowScriptAccess" value="always">
        <param name="allowFullScreen" value="false">
        <param name="movie" value="/mikuclock.swf">
        <param name="quality" value="medium">
        <param name="bgcolor" value="#f8f8ff">
        <embed src="/mikuclock.swf"
               quality="high" bgcolor="#f8f8ff" width="200" height="400" name="mikuclock"
               align="middle" allowscriptaccess="always" allowfullscreen="false"
               type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
      </object>
    </div>
  </div>
</div>

<%= render :partial => 'help' %>

<%= render :partial => 'messages' %>

<%= render :partial => 'log' %>