<!DOCTYPE html>
<html>
  <head>
    <title>CandyTeX</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
    <%= stylesheet_link_tag    "bootstrap-responsive.min", :media => "all" %>
    <%= stylesheet_link_tag    "font-awesome.min", :media => "all" %>
    <%= stylesheet_link_tag    "base", :media => "all" %>

    <%=  javascript_include_tag "application"%>
    <%=  javascript_include_tag "bootstrap.min"%>
    <%=  javascript_include_tag "konami"%>
    <%=  javascript_include_tag "templates"%>
    <%=  javascript_include_tag "client"%>
    <%=  javascript_include_tag "drive"%>
    <%= aced_tag %>
    <%=  javascript_include_tag "editor"%>
    <%=  javascript_include_tag "base"%>
  </head>
  <body onload="setup()">
    <%= yield %>
  </body>
</html>