<!DOCTYPE html>
<html>
  <head>
    <title>Candytex</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "base", :media => "all" %>
    <%=  javascript_include_tag "application"%>
    <%= aced_tag %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
